.gallery__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
}

.gallery__picture {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
}

.gallery__numbering {
    position: absolute;
    bottom: 5%;
    color: white;
}

@media screen and (max-width: 480px) {
    .gallery__container {
        height: 255px;
    }
    .gallery__picture {
        height: 100%;
    }
    .gallery__numbering {
        display: none;
    }
}
